---
layout: default
---

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>put a big picture of baby here</p>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    {% for post in site.posts reversed %}
    {% if forloop.index == 0 %}
    <li role="presentation" class="active"><a href="#{{ post.slug }}" aria-controls="home" role="tab" data-toggle="tab">{{ post.title }}</a></li>
    {% else %}
    <li role="presentation"><a href="#{{ post.slug }}" aria-controls="home" role="tab" data-toggle="tab">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% for post in site.posts reversed %}
    {% if forloop.index == 0 %}
    <div role="tabpanel" class="tab-pane active" id="{{ post.slug }}">{{ post.content }}</div>
    {% else %}
    <div role="tabpanel" class="tab-pane" id="{{ post.slug }}">{{ post.content }}</div>
    {% endif %}
    {% endfor %}
  </div>

</div>

